@font-face {
  font-family: Helvetica;
  src: url("fonts/Helvetica.ttf");
}

@font-face {
  font-family: HelveticaBlack;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/HelveticaBlack.ttf");
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Helvetica-Bold-Font.ttf");
}

body {
  background: #ddd;
}
